allow system_server sysfs_kgsl:file r_file_perms;
allow system_server default_android_service:service_manager { add find };

# Allow system_server to set persist_camera_prop
get_prop(system_server, vendor_camera_prop)
get_prop(system_server, persist_camera_prop)
